@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>EventsPlus</h1>
</div>
    <div class="col-md-4">
        <h2>Welcome to EventsPlus</h2>
        <p>
            EventsPlus is an event management application for use by EventsPlus Ltd employees. 
        </p>
    </div>
