@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#ECFEFD;">

</body>
<div class="col-md-4">
    <h1>Welcome to EventsPlus</h1>
    <p>
        EventsPlus is an event management application for use by EventsPlus Ltd employees.
    </p>

</div>
<img src="~/lib/Images/Festival.jpg" width="800" height="500" />
    
