@{
    ViewData["Title"] = "Home Page";
}
<!--Defines the background colour using colour codes-->
<body style="background-color:#ECFEFD;">

</body>
<!--Displays a header-->
<div class="col-md-4">
    <h1>Welcome to EventsPlus</h1>
    <!--Displays website information-->
    <p style="text-align:center">
        EventsPlus is an event management application for use by EventsPlus Ltd employees.
    </p>

</div>
<!--Displays an image to view-->
<img src="~/lib/Images/Festival.jpg" width="800" height="500" class="Center"/>
    
