@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!--Defines the background colour by code -->
<body style="background-color:#ECFEFD;">

</body>
<!--Displays information in a second header-->
<h2>
    Your data protection rights
    Under data protection law, you have rights including:
</h2>
<!--Displays a list of information about privacy policy for users-->
<ul>
    <li>Your right of access - You have the right to ask us for copies of your personal information.</li>
    <li>Your right to rectification - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</li>
    <li>Your right to erasure - You have the right to ask us to erase your personal information in certain circumstances.</li>
    <li>Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal information in certain circumstances.</li>
    <li>Your right to object to processing - You have the the right to object to the processing of your personal information in certain circumstances.</li>
    <li>Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</li>
    <li>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</li>
</ul>
<!--Displays a small amount of information so users can contact the company-->
<p>Please contact us at "eventsplussupport@hotmail.co.uk" or contact us by telephone with "01908332245" if you wish to make a request.</p>
